# What hotel features are highly correlated?

## Extract data

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Connect to the database
conn = sqlite3.connect("Data/Hotels.db")

In [3]:
# Load the metadata2 table
meta = pd.read_sql("select * from metadata2;", conn)

# Load the ratings table
rate = pd.read_sql_query("select * from ratings;", conn)

In [4]:
# Close the connection
conn.close()

In [5]:
# Preview metadata table
meta.head()

,Name,Street,City,province,latitude,longitude,State,Stories,stars,airportDistance_km,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,Rancho Valencia Resort Spa,5921 Valencia Cir,Rancho Santa Fe,CA,32.990959000000004,-117.186136,California,nan,4.0,14.308848055373579,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aloft Arundel Mills,7520 Teague Rd,Hanover,MD,39.155929,-76.716341,Maryland,7,4.0,4.668331572785505,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Hampton Inn Suites PortlandVancouver,315 SE Olympia Dr,Vancouver,WA,45.619212,-122.525196,Washington,4,nan,6.591900084053486,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,Hotel Phillips,106 W 12th St,Kansas City,MO,39.100119,-94.584701,Missouri,20,4.0,2.6706451419692976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,The Inn at Solvang,10611 Standing Stone Rd,Huntingdon,PA,40.527478,-77.969763,Pennsylvania,nan,nan,3.781816947263244,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
print(meta.shape)

(1853, 119)

In [7]:
# Drop columns from the rate table
rate = rate.drop(columns = ["index", "reviews_userCity", "reviews_userProvince", 
                            "reviews_text", "reviews_title", "reviews_sourceURLs"])

# Change the "name" to "Name"
rate = rate.rename(columns = {"name": "Name"})

# Convert review date from string to datetime format
rate["reviews_date"] = pd.to_datetime(rate["reviews_date"])

# Add a month-year column
rate["year"] = rate["reviews_date"].apply(lambda x: x.strftime("%Y"))

# Preview ratings table
rate.head()

                         Name reviews_date  reviews_rating  year
0  Rancho Valencia Resort Spa   2013-11-14             5.0  2013
1  Rancho Valencia Resort Spa   2014-07-06             5.0  2014
2  Rancho Valencia Resort Spa   2015-01-02             5.0  2015
3         Aloft Arundel Mills   2016-05-15             2.0  2016
4         Aloft Arundel Mills   2016-07-09             5.0  2016

## Transform data
In preparation for correlation analyses

### Merge data frames and remove sparse columns (with >70% null values)

In [8]:
# Merge the two dataframes
df = pd.merge(rate, meta, on = ["Name"])

# Convert "nan" to np.nan
df.replace("nan", np.nan, inplace = True)

# Remove columns that have been converted to dummy variables, not needed in analyses
df = df.drop(columns = ["reviews_date", "province", "Street", "City", "State", "latitude", "longitude"])

# Remove the columns with more than 70% null values 
df = df.dropna(thresh = 11572, axis = 1)

# Preview the data frame
df.head()

,Name,reviews_rating,year,airportDistance_km,airport,apartment,attractions,bars,beach,boutique,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,Rancho Valencia Resort Spa,5.0,2013,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rancho Valencia Resort Spa,5.0,2014,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Rancho Valencia Resort Spa,5.0,2015,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aloft Arundel Mills,2.0,2016,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aloft Arundel Mills,5.0,2016,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Convert the year to dummy variables
encoded_year = pd.get_dummies(df["year"])

# Put the encoded year dataframe together with df
df1 = pd.concat([df, encoded_year], axis = 1)
df1 = df1.drop(columns = ["year"])
df1.head()

,Name,reviews_rating,airportDistance_km,airport,apartment,attractions,bars,beach,boutique,breakfast,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,Aloft Arundel Mills,2.0,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,Aloft Arundel Mills,5.0,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

### Remove columns with near zero variance

In [10]:
# Dependencies
from sklearn.feature_selection import VarianceThreshold

In [11]:
# Create a function that selects variables that pass the variance threshold
def variance_threshold_selector(data, threshold = 0.5):
    selector = VarianceThreshold()
    selector.fit_transform(data)
    
    return data[data.columns[selector.get_support(indices = True)]]

In [12]:
df2 = pd.concat([df1.iloc[:,0], variance_threshold_selector(df1.iloc[:,1:], 0.9)], axis = 1)
df2.head()

,Name,reviews_rating,airportDistance_km,airport,apartment,attractions,bars,beach,boutique,breakfast,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,Aloft Arundel Mills,2.0,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,Aloft Arundel Mills,5.0,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

### Are there categorical variables that are strongly correlated with each other?

In [13]:
# Create a dataframe just for correlation analyses
df3 = df2.drop(columns = ["Name", "reviews_rating", "airportDistance_km"], axis = 1)
df3.head()

,airport,apartment,attractions,bars,beach,boutique,breakfast,cabins,cable,campground,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
# from sklearn import matthews_corrcoef (calculates phi coefficient)
from sklearn.metrics import matthews_corrcoef

from IPython.core.display import clear_output

var_pairs = [(x, y) for x in df3.columns.values for y in df3.columns.values]

phi_list = []
for f in var_pairs:
    phi = matthews_corrcoef(list(df3[f[0]]), list(df3[f[1]]))
    phi_list.append(phi)    
        
    print(f"Calculating phi coefficients for {f}.")
    print("---")
    clear_output(wait = True)

Calculating phi coefficients for ('2018', '2018').
---

In [15]:
# Create a dataframe that contains tuples of variable pairs and phi coefficients
df5 = pd.DataFrame({"pair": var_pairs, "phi": phi_list})

# Split the tuples and put each variable in separate columns
df5[["var1", "var2"]] = pd.DataFrame(df5["pair"].tolist())

# Preview the dataframe
df5.head()

                     pair       phi     var1         var2
0      (airport, airport)  1.000000  airport      airport
1    (airport, apartment) -0.000728  airport    apartment
2  (airport, attractions) -0.000383  airport  attractions
3         (airport, bars)  0.176531  airport         bars
4        (airport, beach) -0.001608  airport        beach

In [16]:
# Optional: create a correlation matrix
df6 = df5[["var1", "var2", "phi"]]
df6.pivot(index = "var1", columns = "var2", values = "phi")

var2,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,reservations,resort,restaurant,services,skiing,spas,theater,utility,village,wedding
var1,,,,,,,,,,,,,,,,,,,,,
2002,1.000000,-0.000086,-0.000148,-0.000284,-0.000388,-0.000684,-0.000591,-0.000757,-0.000579,-0.000916,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2003,-0.000086,1.000000,-0.000210,-0.000402,-0.000548,-0.000968,-0.000836,-0.001070,-0.000818,-0.001295,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2004,-0.000148,-0.000210,1.000000,-0.000696,-0.000950,-0.001677,-0.001449,-0.001854,-0.001418,-0.002243,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2005,-0.000284,-0.000402,-0.000696,1.000000,-0.001820,-0.003212,-0.002775,-0.003552,-0.002716,-0.004298,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2006,-0.000388,-0.000548,-0.000950,-0.001820,1.000000,-0.004387,-0.003791,-0.004851,-0.003710,-0.005871,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2007,-0.000684,-0.000968,-0.001677,-0.003212,-0.004387,1.000000,-0.006689,-0.008560,-0.006546,-0.010359,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2008,-0.000591,-0.000836,-0.001449,-0.002775,-0.003791,-0.006689,1.000000,-0.007396,-0.005656,-0.008951,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2009,-0.000757,-0.001070,-0.001854,-0.003552,-0.004851,-0.008560,-0.007396,1.000000,-0.007238,-0.011454,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2010,-0.000579,-0.000818,-0.001418,-0.002716,-0.003710,-0.006546,-0.005656,-0.007238,1.000000,-0.008759,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011,-0.000916,-0.001295,-0.002243,-0.004298,-0.005871,-0.010359,-0.008951,-0.011454,-0.008759,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2012,-0.001030,-0.001457,-0.002524,-0.004835,-0.006604,-0.011654,-0.010070,-0.012886,-0.009854,-0.015593,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013,-0.001388,-0.001963,-0.003400,-0.006513,-0.008897,-0.015699,-0.013565,-0.017358,-0.013274,-0.021006,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014,-0.002124,-0.003004,-0.005203,-0.009968,-0.013615,-0.024026,-0.020759,-0.026565,-0.020315,-0.032147,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015,-0.005140,-0.007269,-0.012592,-0.024124,-0.032952,-0.058148,-0.050242,-0.064294,-0.049167,-0.077804,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016,-0.006597,-0.009329,-0.016161,-0.030960,-0.042290,-0.074624,-0.064479,-0.082512,-0.063099,-0.099850,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017,-0.002506,-0.003545,-0.006140,-0.011763,-0.016068,-0.028353,-0.024498,-0.031349,-0.023974,-0.037937,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018,-0.001105,-0.001563,-0.002707,-0.005186,-0.007083,-0.012499,-0.010800,-0.013821,-0.010569,-0.016725,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
AK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.005199,-0.007313,-0.003886,-0.002471,-0.000392,-0.000392,-0.000734,-0.000277,-0.001110,-0.003062
AR,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.023101,-0.019555,-0.010393,-0.006609,-0.001049,-0.001049,-0.001963,-0.000742,-0.002968,-0.008189
AZ,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.059889,-0.002379,-0.015408,-0.009798,-0.001555,-0.001555,-0.002910,-0.001100,-0.004401,-0.012141
CA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.137699,0.057437,0.120427,0.019534,-0.003173,-0.003173,-0.005937,-0.002244,-0.008979,-0.000788
CO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.001374,-0.020514,0.007702,-0.007860,-0.001248,-0.001248,-0.002335,-0.000882,-0.003531,0.015607
CT,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.015568,-0.011739,0.023294,-0.003967,-0.000630,-0.000630,-0.001178,-0.000445,-0.001782,-0.004916
DE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.113274,-0.011955,-0.006353,-0.004040,-0.000641,-0.000641,-0.001200,-0.000453,-0.001815,-0.005006
FL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.028488,0.083442,-0.003499,0.022222,-0.003019,-0.003019,-0.005649,-0.002135,0.082921,-0.023567
GA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.092912,-0.041913,-0.007961,0.043952,-0.002248,-0.002248,-0.004207,-0.001590,-0.006362,-0.017552
HI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.039800,0.345478,0.147332,-0.007898,-0.001254,0.047628,-0.002346,-0.000887,-0.003548,-0.009787
IA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.028306,-0.021850,-0.013001,-0.000811,-0.001312,-0.001312,-0.002456,-0.000928,-0.003714,-0.004212
ID,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.061671,-0.016834,-0.010636,-0.006764,-0.001074,-0.001074,-0.002009,-0.000759,-0.003038,-0.008381
IL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.054869,-0.030227,-0.018965,-0.012060,-0.001914,-0.001914,-0.003582,-0.001354,-0.005417,-0.014945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
health,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.005442,-0.003567,-0.001895,-0.001205,-0.000191,-0.000191,-0.000358,-0.000135,-0.000541,-0.001494
karaoke,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.047911,0.007842,-0.004241,-0.002697,-0.000428,-0.000428,-0.000801,-0.000303,-0.001211,-0.003342
lakeview,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.004215,-0.002763,-0.001468,-0.000934,-0.000148,-0.000148,-0.000277,-0.000105,-0.000419,-0.001157
lodge,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.006440,-0.004220,-0.002243,-0.001426,-0.000226,-0.000226,-0.000424,-0.000160,-0.000641,-0.001767
lodges,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002189,-0.025098,-0.013338,-0.008482,-0.001346,-0.001346,-0.002519,-0.000952,-0.003810,-0.010510
loft,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.082473,-0.005291,-0.002812,0.236319,-0.000284,-0.000284,-0.000531,-0.000201,-0.000803,-0.002216
marina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.005962,0.092928,0.174860,-0.001320,-0.000210,-0.000210,-0.000392,-0.000148,-0.000593,-0.001636
medical,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.049723,-0.003190,-0.001695,-0.001078,-0.000171,-0.000171,-0.000320,-0.000121,-0.000484,-0.001336
meeting,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.036673,-0.024756,-0.018187,0.118082,-0.001836,-0.001836,-0.003435,-0.001298,-0.005195,0.475163
motel,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.776593,0.046886,0.033038,0.043636,-0.004252,-0.004252,-0.007956,-0.003007,-0.012032,-0.003650
movie,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.006440,-0.004220,-0.002243,-0.001426,-0.000226,-0.000226,1.000000,-0.000160,-0.000641,-0.001767
nightclub,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.006885,-0.004512,-0.002398,-0.001525,-0.000242,-0.000242,-0.000453,-0.000171,-0.000685,-0.001889
office,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.036799,-0.014209,-0.007551,0.084231,-0.000762,-0.000762,-0.001426,-0.000539,-0.002157,-0.005950
parties,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.006885,-0.004512,-0.002398,0.317538,-0.000242,-0.000242,-0.000453,-0.000171,-0.000685,0.256249
pet,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.008780,-0.003190,-0.001695,-0.001078,-0.000171,-0.000171,-0.000320,-0.000121,-0.000484,-0.001336
pools,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.005962,-0.003907,-0.002076,-0.001320,-0.000210,-0.000210,-0.000392,-0.000148,-0.000593,-0.001636
pubs,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.004868,-0.003190,0.070534,-0.001078,-0.000171,-0.000171,-0.000320,-0.000121,-0.000484,-0.001336
reception,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.012191,-0.019687,0.148953,-0.006653,-0.001056,-0.001056,-0.001976,-0.000747,-0.002988,0.006674
receptions,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.006885,-0.004512,-0.002398,0.317538,-0.000242,-0.000242,-0.000453,-0.000171,-0.000685,0.256249
recreation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.003442,-0.002256,-0.001199,-0.000762,-0.000121,-0.000121,-0.000226,-0.000086,-0.000342,-0.000945
reservations,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.032930,-0.004530,0.061423,-0.003442,-0.003442,-0.006440,-0.002434,-0.009739,0.007996
resort,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032930,1.000000,0.108966,-0.014209,-0.002256,0.025695,-0.004220,-0.001595,-0.006382,-0.017607
restaurant,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.004530,0.108966,1.000000,-0.007551,-0.001199,-0.001199,-0.002243,-0.000848,-0.003392,0.017001
services,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.061423,-0.014209,-0.007551,1.000000,-0.000762,-0.000762,-0.001426,-0.000539,-0.002157,0.107243
skiing,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.003442,-0.002256,-0.001199,-0.000762,1.000000,-0.000121,-0.000226,-0.000086,-0.000342,-0.000945
spas,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.003442,0.025695,-0.001199,-0.000762,-0.000121,1.000000,-0.000226,-0.000086,-0.000342,-0.000945
theater,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.006440,-0.004220,-0.002243,-0.001426,-0.000226,-0.000226,1.000000,-0.000160,-0.000641,-0.001767
utility,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.002434,-0.001595,-0.000848,-0.000539,-0.000086,-0.000086,-0.000160,1.000000,-0.000242,-0.000668
village,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.009739,-0.006382,-0.003392,-0.002157,-0.000342,-0.000342,-0.000641,-0.000242,1.000000,-0.002673
wedding,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.007996,-0.017607,0.017001,0.107243,-0.000945,-0.000945,-0.001767,-0.000668,-0.002673,1.000000

In [17]:
# What variables to remove from the analyses? 
# Basis: correlation coefficient, r, is higher than 0.69 or lower than -0.69

high = []
for x in range(0, len(df5)):
    if df5["phi"][x] != 1 and df5["phi"][x] >= 0.7 or df5["phi"][x] <= -0.7:
        high.append(df5["pair"][x])
print(high)

[('hall', 'nightclub'), ('motel', 'reservations'), ('nightclub', 'hall'), ('reservations', 'motel')]

In [18]:
# Remove a variable that is highly correlated with the other from dataframe df2
df4 = df2.drop(columns = ["hall", "motel"], axis = 1)
df4.head()

,Name,reviews_rating,airportDistance_km,airport,apartment,attractions,bars,beach,boutique,breakfast,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,Aloft Arundel Mills,2.0,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,Aloft Arundel Mills,5.0,4.668331572785505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

## Load the df2 dataframe with new information into a new database table

In [19]:
# Create a connection to the database
conn = sqlite3.connect("Data/Hotels.db")

# Save the dataframe as a sqlite database table
df4.to_sql("alldata", conn, if_exists = "replace", index = False)

In [20]:
# Preview metadata
pd.read_sql_query("select * from alldata limit 3;", conn)

,Name,reviews_rating,airportDistance_km,airport,apartment,attractions,bars,beach,boutique,breakfast,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,Rancho Valencia Resort Spa,5.0,14.308848055373579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0

In [21]:
conn.close()