In [1]:
# Dependencies
import pandas as pd
import numpy as np
import sqlite3
from pyspark import SparkContext
sc =SparkContext()
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
import collections
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Dependencies
import re, string

import nltk
nltk.download("punkt")
nltk.download('stopwords')
nltk.download('wordnet')

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/janelchadiarova/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/janelchadiarova/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/janelchadiarova/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
# Create connections to database
conn = sqlite3.connect("Data/Hotels.db")

#Load the database table into a pandas dataframe
ratings = pd.read_sql_query("select * from ratings;", conn)
conn.close()

# Preview the dataframe
ratings.head()

,index,name,reviews_date,reviews_rating,reviews_sourceURLs,reviews_text,reviews_title,reviews_userCity,reviews_userProvince
0,0,Rancho Valencia Resort Spa,2013-11-14T00:00:00Z,5.0,www.hotels.com,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,None,None
1,1,Rancho Valencia Resort Spa,2014-07-06T00:00:00Z,5.0,www.hotels.com,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,None,None
2,2,Rancho Valencia Resort Spa,2015-01-02T00:00:00Z,5.0,www.hotels.com,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,None,None
3,3,Aloft Arundel Mills,2016-05-15T00:00:00Z,2.0,www.tripadvisor.com,Currently in bed writing this for the past hr ...,"Never again...beware, if you want sleep.",Richmond,VA
4,4,Aloft Arundel Mills,2016-07-09T00:00:00Z,5.0,www.tripadvisor.com,I live in Md and the Aloft is my Home away fro...,ALWAYS GREAT STAY...,Laurel,MD

In [4]:
#Grouping ratings to get 5 unique ratings
rating_list = ratings['reviews_rating'].tolist()
new_list = []
for rating in rating_list:
    if rating >= 5.0: 
        new_list.append(5.0)
    elif rating >= 4 and rating < 5:
        new_list.append(4.0)
    elif rating >= 3 and rating < 4:
        new_list.append(3.0)
    elif rating >= 2 and rating < 3:
        new_list.append(2.0)
    else:
        new_list.append(1.0)

In [5]:
# Put all letters in lower case
# Split hotel reviews_rating to "good"/"bad"
ratings["reviews_text"] = ratings["reviews_text"].str.lower()
#ratings["rating"] = np.where(ratings["reviews_rating"]>= 4, 'good', 'bad')
ratings["rating"] = new_list
ratings['reviews_text'] = ratings['reviews_text'].astype(str)
ratings.head()

,index,name,reviews_date,reviews_rating,reviews_sourceURLs,reviews_text,reviews_title,reviews_userCity,reviews_userProvince,rating
0,0,Rancho Valencia Resort Spa,2013-11-14T00:00:00Z,5.0,www.hotels.com,our experience at rancho valencia was absolute...,Best romantic vacation ever!!!!,None,None,5.0
1,1,Rancho Valencia Resort Spa,2014-07-06T00:00:00Z,5.0,www.hotels.com,amazing place. everyone was extremely warm and...,Sweet sweet serenity,None,None,5.0
2,2,Rancho Valencia Resort Spa,2015-01-02T00:00:00Z,5.0,www.hotels.com,we booked a 3 night stay at rancho valencia to...,Amazing Property and Experience,None,None,5.0
3,3,Aloft Arundel Mills,2016-05-15T00:00:00Z,2.0,www.tripadvisor.com,currently in bed writing this for the past hr ...,"Never again...beware, if you want sleep.",Richmond,VA,2.0
4,4,Aloft Arundel Mills,2016-07-09T00:00:00Z,5.0,www.tripadvisor.com,i live in md and the aloft is my home away fro...,ALWAYS GREAT STAY...,Laurel,MD,5.0

In [6]:
# Remove stop words from the list
stops = stopwords.words("english")
exclude = set(string.punctuation)

In [7]:
words_list = []
preprocessed_text = []
for review in ratings["reviews_text"]:
    
    # Create a list of words per rating after the words are converted to lowercase    
    words = word_tokenize(review)
    
    # Filter to remove stop words and punctuations    
    words2 = [word for word in words if word not in stops and word not in exclude]
    
    # Add the filtered list of words
    words_list.append(words2)
    
    # Convert the list of strings back to one string
    words3 = " ".join(words2)
    
    # Add the filtered list of words
    preprocessed_text.append(words3)
   
ratings["filteredReview"] = preprocessed_text
ratings.head()

,index,name,reviews_date,reviews_rating,reviews_sourceURLs,reviews_text,reviews_title,reviews_userCity,reviews_userProvince,rating,filteredReview
0,0,Rancho Valencia Resort Spa,2013-11-14T00:00:00Z,5.0,www.hotels.com,our experience at rancho valencia was absolute...,Best romantic vacation ever!!!!,None,None,5.0,experience rancho valencia absolutely perfect ...
1,1,Rancho Valencia Resort Spa,2014-07-06T00:00:00Z,5.0,www.hotels.com,amazing place. everyone was extremely warm and...,Sweet sweet serenity,None,None,5.0,amazing place everyone extremely warm welcomin...
2,2,Rancho Valencia Resort Spa,2015-01-02T00:00:00Z,5.0,www.hotels.com,we booked a 3 night stay at rancho valencia to...,Amazing Property and Experience,None,None,5.0,booked 3 night stay rancho valencia play tenni...
3,3,Aloft Arundel Mills,2016-05-15T00:00:00Z,2.0,www.tripadvisor.com,currently in bed writing this for the past hr ...,"Never again...beware, if you want sleep.",Richmond,VA,2.0,currently bed writing past hr 1/2 dogs barking...
4,4,Aloft Arundel Mills,2016-07-09T00:00:00Z,5.0,www.tripadvisor.com,i live in md and the aloft is my home away fro...,ALWAYS GREAT STAY...,Laurel,MD,5.0,live md aloft home away home ... stayed 1 nigh...

In [8]:
# Remove columns that will not be used in the analysis
df = ratings.drop(columns=["reviews_text","reviews_date","reviews_sourceURLs","reviews_title","reviews_userCity","reviews_userProvince"],axis=1)
df.head()

,index,name,reviews_rating,rating,filteredReview
0,0,Rancho Valencia Resort Spa,5.0,5.0,experience rancho valencia absolutely perfect ...
1,1,Rancho Valencia Resort Spa,5.0,5.0,amazing place everyone extremely warm welcomin...
2,2,Rancho Valencia Resort Spa,5.0,5.0,booked 3 night stay rancho valencia play tenni...
3,3,Aloft Arundel Mills,2.0,2.0,currently bed writing past hr 1/2 dogs barking...
4,4,Aloft Arundel Mills,5.0,5.0,live md aloft home away home ... stayed 1 nigh...

In [9]:
#Convert Pandas DataFrame to Spark DataFrame
spark_ratings = sqlContext.createDataFrame(df)
spark_ratings.show(5)

+-----+--------------------+--------------+------+--------------------+
|index|                name|reviews_rating|rating|      filteredReview|
+-----+--------------------+--------------+------+--------------------+
|    0|Rancho Valencia R...|           5.0|   5.0|experience rancho...|
|    1|Rancho Valencia R...|           5.0|   5.0|amazing place eve...|
|    2|Rancho Valencia R...|           5.0|   5.0|booked 3 night st...|
|    3| Aloft Arundel Mills|           2.0|   2.0|currently bed wri...|
|    4| Aloft Arundel Mills|           5.0|   5.0|live md aloft hom...|
+-----+--------------------+--------------+------+--------------------+
only showing top 5 rows

In [10]:
# Create a length column to be used as a future feature 
from pyspark.sql.functions import length
data = spark_ratings.withColumn('length', length(spark_ratings['filteredReview']))
data.show(5)

+-----+--------------------+--------------+------+--------------------+------+
|index|                name|reviews_rating|rating|      filteredReview|length|
+-----+--------------------+--------------+------+--------------------+------+
|    0|Rancho Valencia R...|           5.0|   5.0|experience rancho...|   112|
|    1|Rancho Valencia R...|           5.0|   5.0|amazing place eve...|   202|
|    2|Rancho Valencia R...|           5.0|   5.0|booked 3 night st...|   335|
|    3| Aloft Arundel Mills|           2.0|   2.0|currently bed wri...|   125|
|    4| Aloft Arundel Mills|           5.0|   5.0|live md aloft hom...|   186|
+-----+--------------------+--------------+------+--------------------+------+
only showing top 5 rows

## Feature Transformations

In [11]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer

In [12]:
#tokenizer = Tokenizer(inputCol="filteredReview", outputCol="token_text")
#tokenized = tokenizer.transform(spark_ratings)
#tokenized.show(3, truncate=False)

In [13]:
#stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
#filtered = stopremove.transform(tokenized)
#filtered.show(3, truncate=False)

In [14]:
#hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token',numFeatures=pow(2,4))
#hashed_df = hashingTF.transform(filtered)
#hashed_df.show(3, truncate=False)

In [15]:
#idf = IDF(inputCol="hash_token", outputCol="idf_token")
#idfModel = idf.fit(hashed_df)
#rescaledData = idfModel.transform(hashed_df)

In [16]:
# Create all the features to the data set
pos_neg_to_num = StringIndexer(inputCol='rating',outputCol='label')
tokenizer = Tokenizer(inputCol="filteredReview", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token',numFeatures=pow(2,4))
idf = IDF(inputCol="hash_token", outputCol="idf_token")

In [17]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
clean_up = VectorAssembler(inputCols=['label','idf_token', 'length'], outputCol='features')

In [18]:
# Create a and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[pos_neg_to_num, tokenizer, stopremove, hashingTF, idf, clean_up])

In [19]:
 # Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(data)
cleaned = cleaner.transform(data)
cleaned.show(3)

+-----+--------------------+--------------+------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|index|                name|reviews_rating|rating|      filteredReview|length|label|          token_text|         stop_tokens|          hash_token|           idf_token|            features|
+-----+--------------------+--------------+------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|    0|Rancho Valencia R...|           5.0|   5.0|experience rancho...|   112|  0.0|[experience, ranc...|[experience, ranc...|(16,[1,4,5,6,8,9,...|(16,[1,4,5,6,8,9,...|[0.0,0.0,0.184744...|
|    1|Rancho Valencia R...|           5.0|   5.0|amazing place eve...|   202|  0.0|[amazing, place, ...|[amazing, place, ...|(16,[2,3,4,5,6,7,...|(16,[2,3,4,5,6,7,...|[0.0,0.0,0.0,0.28...|
|    2|Rancho Valencia R...|           5.0|   5.0|booked 3 night st...|   335|  0.0|[booked, 3, night...|[booked, 3, night...|(16,[0,1,2,3,4,5,...|(16,[0,1,2,3,4,5,...|[0.0,0.5991695591...|
+-----+--------------------+--------------+------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 3 rows

In [20]:
# Show label of ham spame and resulting features
cleaned.select(['label', 'features']).show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|[0.0,0.0,0.184744...|
|  0.0|[0.0,0.0,0.0,0.28...|
|  0.0|[0.0,0.5991695591...|
|  3.0|[3.0,0.2995847795...|
|  0.0|[0.0,1.4979238978...|
|  0.0|[0.0,0.5991695591...|
|  0.0|[0.0,0.5991695591...|
|  0.0|(18,[2,3,4,5,10,1...|
|  0.0|[0.0,0.5991695591...|
|  0.0|[0.0,0.5991695591...|
|  0.0|[0.0,0.2995847795...|
|  0.0|[0.0,0.2995847795...|
|  0.0|[0.0,1.4979238978...|
|  0.0|[0.0,0.2995847795...|
|  0.0|[0.0,0.8987543387...|
|  1.0|[1.0,0.5991695591...|
|  0.0|[0.0,0.5991695591...|
|  2.0|[2.0,0.5991695591...|
|  0.0|[0.0,0.5991695591...|
|  1.0|[1.0,0.0,0.738976...|
+-----+--------------------+
only showing top 20 rows

In [21]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.7, 0.3])

In [22]:
# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [23]:
# Tranform the model with the testing data
test_results = predictor.transform(testing)
test_results.show(3)

+-----+--------------------+--------------+------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|index|                name|reviews_rating|rating|      filteredReview|length|label|          token_text|         stop_tokens|          hash_token|           idf_token|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------+------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|    1|Rancho Valencia R...|           5.0|   5.0|amazing place eve...|   202|  0.0|[amazing, place, ...|[amazing, place, ...|(16,[2,3,4,5,6,7,...|(16,[2,3,4,5,6,7,...|[0.0,0.0,0.0,0.28...|[-63.540398288136...|[0.79744540188972...|       0.0|
| 1000|Hotel Zetta San F...|           4.6|   4.0|good loved room d...|    48|  1.0|[good, loved, roo...|[good, loved, roo...|(16,[0,1,4,8,13,1...|(16,[0,1,4,8,13,1...|(18,[0,1,2,5,9,14...|[-29.938660336037...|[2.34737125526083...|       1.0|
| 1001|Hotel Zetta San F...|          4.15|   4.0|bad initially two...|   350|  1.0|[bad, initially, ...|[bad, initially, ...|(16,[0,1,2,3,4,6,...|(16,[0,1,2,3,4,6,...|[1.0,0.5991695591...|[-100.67446554320...|[0.00210836690975...|       1.0|
+-----+--------------------+--------------+------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 3 rows

In [24]:
# rating: 5 - 0.0, 4 - 1.0, 3 - 2.0, 2 - 3.0, 1 - 4.0
test_results.select(['label', 'prediction']).show(10)

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  3.0|       2.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  3.0|       4.0|
|  1.0|       1.0|
|  3.0|       2.0|
|  0.0|       0.0|
+-----+----------+
only showing top 10 rows

In [25]:
 # Use the Class Evaluator for a cleaner description
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting ratings was: ", acc)

Accuracy of model at predicting ratings was:  0.7657299245230653

## Popular Words

In [26]:
df.head()

,index,name,reviews_rating,rating,filteredReview
0,0,Rancho Valencia Resort Spa,5.0,5.0,experience rancho valencia absolutely perfect ...
1,1,Rancho Valencia Resort Spa,5.0,5.0,amazing place everyone extremely warm welcomin...
2,2,Rancho Valencia Resort Spa,5.0,5.0,booked 3 night stay rancho valencia play tenni...
3,3,Aloft Arundel Mills,2.0,2.0,currently bed writing past hr 1/2 dogs barking...
4,4,Aloft Arundel Mills,5.0,5.0,live md aloft home away home ... stayed 1 nigh...

In [27]:
#Filtering Rating 5.0
filtered_5 = df[df['rating'] == 5.0]
list_filtered_5 = filtered_5["filteredReview"].tolist()
list_filtered_5_new = ''.join(list_filtered_5)
#Filtering Rating 4.0
filtered_4 = df[df['rating'] == 4.0]
list_filtered_4 = filtered_4["filteredReview"].tolist()
list_filtered_4_new = ''.join(list_filtered_4)
#Filtering Rating 3.0
filtered_3 = df[df['rating'] == 3.0]
list_filtered_3 = filtered_3["filteredReview"].tolist()
list_filtered_3_new = ''.join(list_filtered_3)
#Filtering Rating 2.0
filtered_2 = df[df['rating'] == 2.0]
list_filtered_2 = filtered_2["filteredReview"].tolist()
list_filtered_2_new = ''.join(list_filtered_2)
#Filtering Rating 1.0
filtered_1 = df[df['rating'] == 1.0]
list_filtered_1 = filtered_1["filteredReview"].tolist()
list_filtered_1_new = ''.join(list_filtered_1)

In [28]:
#Extending stop words list to avoid useless words 
stops_hotel = stopwords.words("english")
newStopWords = ['hotel','room','staff','rooms', 'stay', 'breakfast','location', "n't", "", "one", "us", 'desk', 'night', 'front', 'would', 'could', 'like', "'s"]
stops_hotel.extend(newStopWords)

In [29]:
#Counting words for rating 5.0
wordcount5 = {}
for word in list_filtered_5_new.lower().split():
    word = word.replace(".","")
    word = word.replace(",","")
    word = word.replace(":","")
    word = word.replace("\"","")
    word = word.replace("!","")
    word = word.replace("â€œ","")
    word = word.replace("â€˜","")
    word = word.replace("*","")
    if word not in stops_hotel:
        if word not in wordcount5:
            wordcount5[word] = 1
        else:
            wordcount5[word] += 1

In [30]:
#Counting words for rating 1.0
wordcount1 = {}
for word in list_filtered_1_new.lower().split():
    word = word.replace(".","")
    word = word.replace(",","")
    word = word.replace(":","")
    word = word.replace("\"","")
    word = word.replace("!","")
    word = word.replace("â€œ","")
    word = word.replace("â€˜","")
    word = word.replace("*","")
    if word not in stops_hotel:
        if word not in wordcount1:
            wordcount1[word] = 1
        else:
            wordcount1[word] += 1

In [31]:
#Counting words for rating 2.0
wordcount2 = {}
for word in list_filtered_2_new.lower().split():
    word = word.replace(".","")
    word = word.replace(",","")
    word = word.replace(":","")
    word = word.replace("\"","")
    word = word.replace("!","")
    word = word.replace("â€œ","")
    word = word.replace("â€˜","")
    word = word.replace("*","")
    if word not in stops_hotel:
        if word not in wordcount2:
            wordcount2[word] = 1
        else:
            wordcount2[word] += 1

In [32]:
#Counting words for rating 3.0
wordcount3 = {}
for word in list_filtered_3_new.lower().split():
    word = word.replace(".","")
    word = word.replace(",","")
    word = word.replace(":","")
    word = word.replace("\"","")
    word = word.replace("!","")
    word = word.replace("â€œ","")
    word = word.replace("â€˜","")
    word = word.replace("*","")
    if word not in stops_hotel:
        if word not in wordcount3:
            wordcount3[word] = 1
        else:
            wordcount3[word] += 1

In [33]:
#Counting words for rating 4.0
wordcount4 = {}
for word in list_filtered_4_new.lower().split():
    word = word.replace(".","")
    word = word.replace(",","")
    word = word.replace(":","")
    word = word.replace("\"","")
    word = word.replace("!","")
    word = word.replace("â€œ","")
    word = word.replace("â€˜","")
    word = word.replace("*","")
    if word not in stops_hotel:
        if word not in wordcount4:
            wordcount4[word] = 1
        else:
            wordcount4[word] += 1

In [34]:
wordcount = wordcount5, wordcount4, wordcount3, wordcount2, wordcount1

In [47]:
wordcount5

{'experience': 291,
 'rancho': 2,
 'valencia': 2,
 'absolutely': 84,
 'perfect': 317,
 'beginning': 15,
 'end': 67,
 'felt': 109,
 'special': 81,
 'happy': 170,
 'stayed': 600,
 'come': 154,
 'back': 421,
 'heart': 36,
 'beatamazing': 1,
 'place': 601,
 'everyone': 117,
 'extremely': 213,
 'warm': 87,
 'welcoming': 125,
 "'ve": 153,
 'top': 107,
 'notch': 32,
 'places': 113,
 'definitely': 398,
 '2': 225,
 'great': 1929,
 'romantic': 16,
 'getaway': 39,
 'take': 132,
 'kids': 121,
 'along': 53,
 'couple': 64,
 'stuffed': 4,
 'animals': 4,
 'waiting': 26,
 'girls': 20,
 'upon': 67,
 'arrival': 57,
 'ca': 99,
 'wait': 63,
 'go': 277,
 'backbooked': 1,
 '3': 149,
 'play': 18,
 'tennis': 10,
 'since': 94,
 'highest': 5,
 'rated': 9,
 'resorts': 7,
 'america': 7,
 'really': 394,
 'luxury': 33,
 'standpoint': 2,
 'overall': 116,
 'villas': 3,
 'attention': 24,
 'details': 10,
 'includes': 13,
 'fresh': 113,
 'squeezed': 1,
 'orange': 13,
 'juice': 13,
 'morning': 193,
 'restaurants': 316,
 'bar': 232,
 'service': 692,
 'amazing': 281,
 'program': 10,
 'impressive': 7,
 'well': 564,
 'want': 145,
 'backlive': 1,
 'md': 4,
 'aloft': 31,
 'home': 170,
 'away': 218,
 '1': 66,
 '7-7-16': 1,
 'especially': 121,
 'olivia': 5,
 'extra': 92,
 'remembered': 9,
 'voice': 3,
 'phone': 37,
 'tells': 1,
 'alert': 1,
 'pays': 2,
 'customer': 109,
 'needsand': 1,
 'thumbs': 4,
 'family': 343,
 'daughters': 6,
 'wedding': 86,
 'accommodating': 170,
 'excellent': 416,
 'maintained': 68,
 'highly': 172,
 'recommend': 337,
 'venue': 13,
 'celebrations': 2,
 'baybeautiful': 1,
 'nicest': 19,
 'people': 173,
 'working': 62,
 'lady': 32,
 'patient': 4,
 'helpful': 711,
 'lots': 135,
 'questions': 33,
 'many': 239,
 'answers': 1,
 'sleek': 6,
 'modern': 143,
 'thing': 104,
 'make': 220,
 'better': 160,
 'free': 354,
 'asking': 15,
 'lot': 163,
 'a++': 3,
 'thank': 294,
 'visiting': 96,
 'maryland': 4,
 'live': 45,
 'cute': 20,
 'clean': 1530,
 'look': 159,
 'upgraded': 39,
 'bathrooms': 37,
 'amenities': 171,
 'super': 192,
 'nice': 1175,
 'staytravel': 1,
 'job': 59,
 "'m": 96,
 'constantly': 6,
 'staying': 278,
 'hotels': 221,
 'co-workers': 2,
 'arrived': 119,
 'late': 98,
 'last': 159,
 'wanted': 92,
 'order': 41,
 'told': 48,
 'however': 70,
 'informed': 8,
 'italian': 10,
 'line': 44,
 'work': 120,
 'use': 109,
 'meeting': 32,
 'space': 121,
 'often': 31,
 '15+': 3,
 'years': 113,
 'first': 221,
 'time': 659,
 'undeniable': 1,
 'pull': 13,
 'write': 21,
 'review': 162,
 'based': 16,
 'solely': 1,
 'though': 101,
 'guest': 138,
 'colleagues': 2,
 'shared': 22,
 'friendly': 1094,
 'large': 188,
 'nicely': 47,
 'furnished': 16,
 'feels': 9,
 'new': 329,
 'actually': 47,
 'opulent': 3,
 'require': 2,
 'good': 992,
 'sufficient': 7,
 'choices': 59,
 'including': 55,
 'fruit': 36,
 'salad': 7,
 'eggs': 53,
 'bacon': 18,
 'bagels': 14,
 'pastries': 8,
 'purpose': 5,
 'items': 39,
 'facilities': 43,
 'superb': 29,
 'problem': 78,
 'heating': 6,
 'system': 25,
 'someone': 24,
 'fix': 8,
 'within': 181,
 'minutes': 105,
 'location/hotelupon': 1,
 'arriving': 15,
 'see': 217,
 'yet': 42,
 'elegant': 13,
 'decor': 56,
 'pleasing': 5,
 'eye': 8,
 'talking': 6,
 'dust': 1,
 'hair': 13,
 'bathroom-shower': 1,
 'beds': 287,
 'tend': 4,
 'find': 158,
 'kudos': 16,
 'housekeeping': 74,
 'sheets': 15,
 'crisp': 8,
 'comfortable': 805,
 'newer': 24,
 'young': 33,
 'children': 39,
 'entire': 79,
 'help': 93,
 'visit': 233,
 'portland': 11,
 'area': 552,
 'plan': 43,
 'later': 30,
 'summer': 25,
 'returnbeautiful': 2,
 'property': 202,
 'every': 282,
 'member': 57,
 'encountered': 21,
 'hosts': 17,
 'gm': 8,
 'provided': 92,
 'beyond': 79,
 'also': 387,
 'conveniently': 37,
 'located': 209,
 'near': 172,
 'grocery': 16,
 'stores': 28,
 'starbucks': 20,
 'short': 104,
 'drive': 99,
 'freeways': 4,
 'backcomfortable': 2,
 'son': 48,
 'came': 95,
 'couch': 20,
 'pulled': 9,
 'queen': 43,
 'size': 95,
 'bed': 374,
 'wifi': 82,
 'bottled': 7,
 'water': 128,
 'built': 11,
 '20': 25,
 'fabulous': 53,
 'neat': 28,
 'hotelhusband': 3,
 'always': 378,
 'try': 68,
 'phillips': 2,
 'kansas': 5,
 'city': 168,
 'favorite': 50,
 'feel': 165,
 'exceptional': 73,
 'although': 65,
 'particularly': 20,
 'demanding': 2,
 'guests': 120,
 'probably': 32,
 'spent': 66,
 'least': 34,
 'nights': 164,
 'everything': 445,
 'sold': 9,
 'state': 26,
 'college': 18,
 'garth': 1,
 'concerts': 3,
 'inn': 269,
 'available': 97,
 "'ll": 58,
 'making': 70,
 'wonderfully': 11,
 'decorated': 64,
 'enjoyed': 315,
 'browsing': 1,
 'books': 2,
 'stephanie': 4,
 'teamwork': 1,
 'perry': 2,
 '6': 47,
 'days': 128,
 'week': 96,
 'willing': 19,
 'simple': 22,
 'needs': 92,
 'hallways': 11,
 'smell': 17,
 'enter': 15,
 'leave': 52,
 'continue': 27,
 'business': 171,
 'surehotel': 3,
 'trend': 1,
 'firmer': 3,
 'pillows': 71,
 'mattresses': 8,
 'third': 23,
 'months': 23,
 'vs': 8,
 'softer': 3,
 'aside': 3,
 'appointed': 52,
 'bonus': 26,
 'plushy': 1,
 'comfy': 112,
 'robes': 5,
 'closet': 9,
 'miss': 13,
 'robe': 4,
 'another': 94,
 'little': 252,
 'loved': 261,
 'spa': 38,
 'coffee': 180,
 'lobby': 225,
 'high': 88,
 'quality': 102,
 'york': 65,
 'times': 141,
 'count': 5,
 'maid': 9,
 'attentive': 55,
 'even': 306,
 'got': 163,
 'note': 15,
 'totally': 25,
 'stayhotel': 14,
 'zelos': 1,
 'san': 28,
 'francisco': 12,
 'highlight': 9,
 'etc': 86,
 'right': 323,
 'next': 316,
 'powell': 2,
 'bart': 1,
 'station': 60,
 'neighborhood': 33,
 'construction': 19,
 'obviously': 9,
 'fault': 16,
 'wo': 19,
 'impact': 3,
 'hear': 112,
 'makes': 51,
 'difficult': 14,
 'get': 385,
 'around': 152,
 'zelosexcellent': 1,
 'book': 49,
 'futureeven': 1,
 'problems': 28,
 'ie': 3,
 'feather': 3,
 'allergy': 1,
 'flat': 21,
 'tire': 2,
 'key': 65,
 'personell': 1,
 'gracious': 18,
 'helpfulgreat': 4,
 'stayfree': 1,
 'fantastic': 133,
 'locationexcellent': 1,
 'due': 47,
 'mix-up': 1,
 'part': 83,
 'online': 19,
 'travel': 104,
 'set': 39,
 'king': 104,
 'rather': 19,
 'two': 224,
 'guys': 18,
 'immediately': 43,
 'called': 63,
 'hampton': 140,
 'said': 52,
 'queens': 3,
 'needed': 177,
 '2-queen': 4,
 'put': 38,
 'buddy': 1,
 'original': 6,
 'additional': 16,
 'expense': 5,
 'moved': 19,
 'day': 302,
 'awesome': 164,
 'customer-oriented': 1,
 'serviceroom': 1,
 'big': 143,
 'offers': 35,
 'usual': 28,
 'crappy': 2,
 'air': 35,
 'conditioner': 3,
 'regulated': 1,
 'motion': 2,
 'sensor': 1,
 'happened': 9,
 'hottest': 2,
 'year': 131,
 'unit': 33,
 'stays': 25,
 'censor': 1,
 'registers': 1,
 'person': 50,
 'hot': 217,
 'took': 122,
 'mins': 18,
 'cool': 57,
 'ac': 20,
 'cut': 10,
 'fell': 11,
 'asleep': 1,
 'movement': 3,
 'woke': 6,
 'pool': 488,
 'sweat': 2,
 'walk': 222,
 'periodically': 1,
 'keep': 40,
 'going': 115,
 'suckedloved': 1,
 'vip': 1,
 'way': 222,
 'honestly': 6,
 'say': 128,
 'give': 64,
 '5': 152,
 'starsproblem': 1,
 'sensorize': 1,
 'inncom': 1,
 'thermostat': 9,
 'conditioning': 11,
 'start-up': 1,
 'inside': 46,
 'kick': 4,
 'sucks': 3,
 'trick': 1,
 'moving': 4,
 'sleeping': 22,
 'running': 19,
 'lol': 5,
 'convenient': 164,
 'bonusawesome': 1,
 'overallbetter': 1,
 'extras': 17,
 'preferred': 8,
 'sleep': 71,
 'conferencehotel': 1,
 'attractions': 50,
 'harbor': 41,
 'expected': 43,
 'parking': 266,
 'across': 127,
 'street': 167,
 'minute': 105,
 'walking': 239,
 'distance': 203,
 'cold': 49,
 'continental': 76,
 'tea': 23,
 'slept': 40,
 'oh': 18,
 'forget': 10,
 'attitude': 11,
 'excellencerepeat': 1,
 'trip': 268,
 'national': 10,
 'conference': 51,
 'attendance': 1,
 'provides': 17,
 'center': 124,
 'kept': 86,
 'touch': 37,
 'value': 102,
 'limited': 16,
 'budgetca': 1,
 'comment': 10,
 'else': 47,
 'dont': 10,
 'know': 124,
 'anyone': 71,
 'pay': 41,
 'twice': 25,
 'price': 235,
 'gaylord': 1,
 'stars': 18,
 'wayroom': 2,
 'bit': 116,
 'small': 193,
 'microwave': 71,
 'couples': 18,
 'excellenthotel': 3,
 'peach': 1,
 'filling': 3,
 'immaculate': 29,
 'poster': 2,
 'child': 9,
 'run': 35,
 'hotelhampton': 1,
 'never': 114,
 'disappoints': 3,
 'affordable': 40,
 'plus': 102,
 'full': 110,
 'shops': 51,
 'dining': 70,
 'seems': 28,
 'hangout': 2,
 'destination': 11,
 'localshotel': 1,
 'somewhat': 6,
 'suppose': 1,
 'impressed': 65,
 'personnel': 18,
 'warmth': 3,
 'interacting': 3,
 'call': 38,
 'bills': 2,
 'seemed': 41,
 'great3': 1,
 'used': 70,
 'staging': 1,
 'sightseeing': 15,
 'dc': 56,
 'baltimore': 19,
 'reasonable': 72,
 'rates': 33,
 'blast': 8,
 '24/7': 5,
 'snack': 22,
 'consider': 15,
 'expanding': 3,
 'hours': 61,
 'allowing': 11,
 'finish': 9,
 'food': 331,
 '10': 74,
 'taken': 35,
 'promptly': 7,
 '1000': 4,
 'packed': 7,
 'still': 72,
 'trying': 25,
 '13/day': 1,
 'quite': 84,
 'areahosted': 1,
 'annual': 10,
 'client': 1,
 'event': 28,
 'grand': 32,
 'del': 16,
 'mar': 5,
 'golf': 31,
 'magnificent': 13,
 'managers': 9,
 'gem': 29,
 'important': 26,
 'smoothlyenjoyed': 1,
 'breathtaking': 8,
 'luxurious': 26,
 'resort': 123,
 'boasts': 2,
 'caring': 15,
 'attending': 21,
 'best': 449,
 'memorable': 22,
 'activities': 31,
 'ages': 6,
 'fractured': 1,
 'hand': 8,
 'tired': 17,
 '24': 29,
 'airports': 2,
 'moment': 35,
 'royalty': 5,
 'dined': 3,
 'amaya': 1,
 'multiple': 24,
 'please': 63,
 'separate': 40,
 'stunning': 16,
 'ever': 155,
 'expect': 48,
 'nothing': 82,
 'genuinely': 14,
 'thanksgiving': 13,
 'asked': 63,
 'three': 51,
 'old': 78,
 'boy': 9,
 'name': 45,
 'adorable': 6,
 'pillow': 4,
 'personalized': 5,
 'cookie': 9,
 'games': 13,
 'lawn': 1,
 'outside': 89,
 'bottom': 15,
 'floor': 155,
 '105': 2,
 'face': 11,
 'painted': 3,
 'exquisite': 5,
 'penasquitos': 1,
 'canyon': 9,
 'north': 20,
 'county': 8,
 'spectacular': 19,
 'retreat': 5,
 'setting': 20,
 'resembling': 1,
 'mediterranean': 1,
 'villa': 10,
 'truly': 43,
 'spacious': 244,
 'several': 133,
 'options': 65,
 'cozy': 46,
 'sitting': 28,
 'areas': 64,
 'relax': 49,
 'soak': 3,
 'spaces': 6,
 'beautifully': 30,
 'manicured': 1,
 'grounds': 47,
 'include': 9,
 'heated': 16,
 'pools': 40,
 'five': 43,
 'six': 14,
 'company': 19,
 'hosted': 4,
 'regret': 4,
 'gdm': 2,
 'may': 49,
 'thus': 1,
 'recommendation': 21,
 'title': 4,
 'inexpensive': 7,
 'worth': 72,
 'gorgeous': 45,
 'check': 270,
 'wasnt': 5,
 'ready': 82,
 'early': 114,
 'number': 29,
 'drinks': 69,
 'appts': 1,
 'receptionist': 17,
 'heard': 20,
 'honeymoon': 19,
 'massages': 2,
 'wonderful': 355,
 'groups': 9,
 'beautiful': 294,
 'secluded': 3,
 'need': 161,
 'rental': 16,
 'car': 96,
 'house': 91,
 'advance': 12,
 'concierge': 43,
 'spots': 18,
 'advisor': 16,
 'placesexpensive': 1,
 'yes': 28,
 'norm': 3,
 'nickel': 1,
 'dime': 2,
 'stuff': 12,
 'nope': 2,
 'pet': 37,
 'peeves': 2,
 'caliber': 1,
 'gives': 8,
 'star': 66,
 'forgot': 13,
 'clothes': 8,
 'let': 67,
 'feminine': 1,
 'products': 6,
 'mind': 18,
 'town': 157,
 'fairmont': 2,
 'choice': 80,
 'diego': 7,
 '25': 12,
 'airport': 126,
 'traditional': 2,
 'colonial': 3,
 'course': 46,
 'west': 66,
 'side': 61,
 'ample': 19,
 'equestrian': 1,
 'pristine': 8,
 'perfectly': 36,
 'detail': 25,
 'general': 55,
 'site': 43,
 'quiet': 261,
 'views': 79,
 'hills': 1,
 'close': 367,
 'enough': 140,
 'love': 202,
 'california': 13,
 'might': 20,
 '6th': 4,
 'professional': 100,
 'marble': 13,
 'shower': 115,
 'soaking': 5,
 'tub': 91,
 'architecture': 7,
 'class': 27,
 'natural': 7,
 'made': 304,
 'welcome': 75,
 'looking': 117,
 'plenty': 126,
 'enjoy': 114,
 'date': 21,
 'takes': 18,
 'prize': 3,
 'overwhelm': 1,
 'four': 43,
 'consistently': 8,
 'served': 37,
 'degree': 3,
 'aspect': 10,
 'delivered': 23,
 'without': 79,
 'robert': 2,
 'raise': 6,
 'catch': 14,
 'flight': 33,
 "o'hare": 3,
 'atl': 3,
 'girlfriend': 11,
 'luckily': 4,
 'managed': 9,
 'shuttle': 175,
 'bus': 33,
 'orlando': 6,
 'driver': 23,
 'quick': 88,
 'r': 7,
 'ball': 7,
 'clarion': 1,
 'waterpark': 4,
 'rides': 4,
 'comfortably': 6,
 'facility': 60,
 'wellawesome': 1,
 'virgin': 2,
 'figure': 4,
 'things': 94,
 'frustrating': 4,
 'fixed': 11,
 'become': 6,
 'regular': 8,
 'haunt': 1,
 'future': 51,
 'cocktails': 8,
 'mini': 26,
 "'re": 99,
 'terrified': 1,
 'mention': 23,
 'ahead': 20,
 'rest': 58,
 'teens': 4,
 'parents': 13,
 '70': 3,
 'met': 73,
 'needgood': 2,
 'fun': 98,
 'hotelbad': 6,
 'train': 19,
 'tracks': 2,
 'noise': 64,
 'pretty': 68,
 'bad': 50,
 'kind': 112,
 'literally': 25,
 'middle': 41,
 'tech': 8,
 'smartphone': 1,
 'app': 6,
 'allows': 7,
 'control': 9,
 'among': 13,
 'designed': 10,
 'reasonablebad': 1,
 'foremost': 3,
 'enquiries': 1,
 'historic': 34,
 'parade': 3,
 'celebrate': 19,
 'chicago': 34,
 'cubs': 4,
 'world': 39,
 'series': 3,
 'win': 3,
 'icing': 1,
 'cake': 4,
 'ireland': 1,
 'beating': 1,
 'blacks': 1,
 '111': 1,
 'yearsbad': 1,
 'sticker': 1,
 'shock': 1,
 '65/night': 1,
 'valet': 61,
 'done': 44,
 'research': 2,
 'cheaper': 18,
 'deal': 44,
 'hip': 15,
 'techy': 2,
 'vibe': 21,
 'described': 6,
 'corner': 46,
 'l': 10,
 'sound': 13,
 'exactly': 23,
 'neededbad': 2,
 'superior': 16,
 'thought': 55,
 'arrangement': 2,
 'roof': 24,
 'forward': 120,
 'visitgood': 1,
 'suite': 184,
 'apointed': 1,
 'inroom': 1,
 '--': 86,
 'bedding': 23,
 'couldnt': 10,
 'nicer': 18,
 'rooftop': 34,
 'deck': 14,
 'left': 51,
 'propertysmall': 1,
 'plates': 5,
 'dj': 3,
 'ill': 7,
 'backbad': 1,
 'view': 260,
 'everythingbeds': 1,
 'level': 37,
 'shop': 21,
 'hour': 90,
 '2nd': 22,
 'evening': 88,
 'bonusgood': 1,
 "l'occitane": 1,
 'restaurant': 250,
 'finch': 1,
 'boxergreat': 1,
 'staffgood': 7,
 'td': 2,
 'garden': 32,
 'concert': 12,
 'faneuil': 2,
 'hall': 31,
 'plentifulgood': 1,
 'whole': 49,
 'superb-': 1,
 'perfect-': 1,
 'boxer': 1,
 'second': 73,
 'requirements': 1,
 'metlocationbad': 1,
 'expensive': 46,
 'gardenbad': 1,
 'simply': 18,
 'coolest': 2,
 'stayedgood': 1,
 'quaint': 25,
 'timebad': 3,
 'reflection': 1,
 'long': 114,
 'retrieve': 1,
 'tell': 24,
 'allow': 15,
 '30': 22,
 'roomsgood': 1,
 'perfection': 8,
 'style': 28,
 'centrally': 34,
 'downtown': 191,
 'bostongood': 1,
 'environment': 14,
 'went': 198,
 'boston': 28,
 'recommendations': 19,
 'directions': 40,
 'didnt': 12,
 'friends': 89,
 'foodgood': 3,
 'marvelous': 6,
 'crew': 12,
 'clear': 13,
 'bostonbed': 1,
 'comfortablegood': 3,
 'staffloved': 2,
 'chain': 29,
 'different': 62,
 'unique': 23,
 'chose': 40,
 'windowsand': 1,
 'traveling': 67,
 'internal': 3,
 'noises': 4,
 'whileit': 1,
 'means': 11,
 'disturbing': 1,
 'loud': 32,
 'mainly': 4,
 'hung': 2,
 'decatour': 1,
 'street/jackson': 1,
 'square/french': 1,
 'marketbut': 1,
 'bourbon': 27,
 'knowledgeable': 26,
 'eat': 78,
 'idea': 17,
 'crazy': 11,
 'towngreat': 2,
 'much': 267,
 'character': 13,
 'building': 49,
 'transformed': 3,
 'warehouse': 2,
 'walls': 14,
 'brick': 4,
 'floors': 31,
 'resurfaced': 1,
 'wood': 8,
 'downstairs': 19,
 'returnnice': 1,
 'bathtub': 5,
 'showerpros-': 1,
 'style/decor': 1,
 'safe': 64,
 'cons-': 1,
 'meals': 22,
 'pastry': 1,
 'type': 30,
 'bar/lobbyyoung': 1,
 'probaby': 1,
 'cringed': 1,
 'saw': 29,
 'schlep': 2,
 '4': 108,
 '8': 23,
 'olds': 2,
 'door': 125,
 'realized': 4,
 'target': 4,
 'demographic': 1,
 'former': 2,
 'orleans': 32,
 'resident': 2,
 'local': 79,
 'compar': 1,
 'lapin': 1,
 'unbelievable': 5,
 'homemade': 3,
 'pasta': 3,
 'gnocchi': 1,
 ...}

In [51]:
for element, count in wordcount5:
    print(element, count)

ValueError: too many values to unpack (expected 2)

In [93]:
#n_print = int(input("How many most common words to print: "))
#print("\nOK. The {} most common words are as follows\n".format(n_print))
for element in wordcount:
    word_counter = collections.Counter(element) 
    print("----------------")
    for word, count in word_counter.most_common(5):
        print(word, ": ", count)

----------------
great :  1929
clean :  1530
nice :  1175
friendly :  1094
good :  992
----------------
good :  1222
clean :  1083
nice :  889
great :  881
friendly :  635
----------------
good :  588
clean :  397
nice :  335
great :  243
friendly :  215
----------------
good :  173
clean :  117
get :  112
bed :  111
nice :  108
----------------
dirty :  115
back :  114
bed :  109
never :  102
place :  101

In [96]:
word_counts = {"rating": [5.0, 5.0, 5.0, 5.0, 5.0 , 4.0, 4.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0],
               "words": ["great","clean", "nice", "friendly", "good", "good", "clean", "nice", "great", "friendly", "good", "clean", "nice", "great", "friendly", "good", "clean", "get", "bed", "nice", "dirty", "back", "bed", "never", "place"], 
               "frequency": [1929, 1530, 1175, 1094, 992, 1222, 1083, 889, 881, 635, 588, 397, 335, 243, 215, 173, 117, 112, 111, 108, 115, 114, 109, 102, 101]}
 
most_common_df = pd.DataFrame(word_counts)
most_common_df

    rating     words  frequency
0      5.0     great       1929
1      5.0     clean       1530
2      5.0      nice       1175
3      5.0  friendly       1094
4      5.0      good        992
5      4.0      good       1222
6      4.0     clean       1083
7      4.0      nice        889
8      4.0     great        881
9      4.0  friendly        635
10     3.0      good        588
11     3.0     clean        397
12     3.0      nice        335
13     3.0     great        243
14     3.0  friendly        215
15     2.0      good        173
16     2.0     clean        117
17     2.0       get        112
18     2.0       bed        111
19     2.0      nice        108
20     1.0     dirty        115
21     1.0      back        114
22     1.0       bed        109
23     1.0     never        102
24     1.0     place        101

In [106]:
most_common_df_grouped = pd.DataFrame(most_common_df.groupby(["rating"]).min())
most_common_df_grouped

        words  frequency
rating
1.0      back        101
2.0       bed        108
3.0     clean        215
4.0     clean        635
5.0     clean        992

In [ ]:
# Create a dictionary
word_counts = {5: {“great” : 1929, “clean”: 1530}, 
               4: {“good”: 1222, “clean”: 1083}} 
# Convert the dictionary to a dataframe
df = pd.DataFrame(word_counts)

In [ ]:
# Create a data frame of the most common words 
# Draw a bar chart
lst = word_counter.most_common(n_print)
df_commonwords = pd.DataFrame(lst, columns = ['Word', 'Count'])
df_commonwords.plot.bar(x='Word',y='Count')